<div class="position-absolute top-0 bottom-0 start-0 end-0 scale-1" style="margin: -50px 0 -50px -50px;">

  <div class="position-absolute top-50 start-50 translate-middle" style="width: 70%; height: 70%">
    <div data-dancing-blob='{"polygon": "five_sided_1", "speed": "slow"}' class="header-blob"></div>
  </div>

  <div class="position-absolute top-50 start-50 translate-middle" style="width: 100%; height: 100%;">
    <div data-dancing-blob='{"speed": "slow", "polygon": "five_sided_1"}' class="gradient-purple-pink" style="margin-top: 30px; margin-left: -50px"></div>
  </div>

  <div class="position-absolute top-50 start-50 translate-middle" style="width: 80%; height: 100%">
    <div data-dancing-blob='{"speed": "slow", "polygon": "seven_sided_2"}' class="gradient-purple-pink" style=" margin: 0px 0 0 100px"></div>
  </div>

  <div class="position-absolute top-50 start-50 translate-middle" style="width: 90%; height: 100%">
    <div data-dancing-blob='{"speed": "slow", "polygon": "seven_sided_1"}' class="gradient-purple-pink" style="margin-left: -30px"></div>
  </div>
</div>
