<div class="py-5 gx-0">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg">
        <%- include('../components/header') %>
        <div>
          <p>I'm a software engineer in training (attending <a href="https://www.centennialcollege.ca" target="_blank">Centennial College</a>) and all-around creative soul. I live in Toronto with my family, while my background is Norwegian.</p>
          <p>I enjoy the whole process of creating software: modelling, writing, designing and deploying. I dabble in many other creative endeavours as well, especially photography and graphic design. Previously, I've been a graduate student in political science, giving me extensive experience in analysis and writing.</p>
        </div>
        <section class="mt-5">
          <header class="py-4">
            <h2 class="fs-4">Skills</h2>
            <hr>
          </header>
          <div class="row  g-4">
            <div class="col-md">
              <h3 class="fs-5 mb-4">Languages</h3>
              <ul style="font-size:18px" class="list-group shadow">
                <li class="list-group-item">Javascript (ES7+)</li>
                <li class="list-group-item">Typescript</li>
                <li class="list-group-item">PHP</li>
                <li class="list-group-item">C#</li>
                <li class="list-group-item">Java</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">HTML & CSS/SASS</li>
                <li class="list-group-item">SQL (MySQL, Oracle)</li>
                <li class="list-group-item">R</li>
              </ul>
            </div>
            <div class="col-md">
              <h3 class="fs-5 mb-4">Technologies</h3>
              <ul style="font-size:18px" class="list-group shadow">
                <li class="list-group-item">React/Preact</li>
                <li class="list-group-item">Vue 3</li>
                <li class="list-group-item">node.js</li>
                <li class="list-group-item">ExpressJS</li>
                <li class="list-group-item">MongoDB/li>
                <li class="list-group-item">WordPress (w/Gutenberg)</li>
                <li class="list-group-item">Strapi</li>
                <li class="list-group-item">Webpack</li>
                <li class="list-group-item">LAMP/WSL</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <aside class="col-lg-4 mt-3 g-5" aria-label="Sidebar">
        <div class="flex-row flex-md-column">
          <div class="p-2 p-xl-4 rounded bg-extra-dark mb-4">
            <div class="portrait rounded" style="max-width: 300px;">
              <img src="/images/bjornar-profile-pic.jpg" width="100%" alt="Picture of me">
            </div>
          </div>
          <div class="p-2 p-lg-4 rounded bg-extra-dark rounded">
            <h3 class="fs-5">Resume</h3>
            <p><a href="https://egede-nissen.com/files/egede-nissen_resume_2023(web).pdf" target="_blank">Download PDF</a></p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
