<div class="py-5 gx-0">
  <div class="container">
    <div class="row">
      <%- include('../components/header') %>

      <div class="row my-5 gy-5">
        <div class="col-lg my-5 my-lg-0">
          <div class="position-relative d-flex justify-content-center align-items-center" style="width: 100%; aspect-ratio: 3/2;">
            <div class="z-2" style="width: 100px; height: 120px;">
              <%- include('../../../assets/svg/browser-website-svgrepo-com.svg') %>
            </div>
            <div data-dancing-blob='{"animated":  true, "speed": "slow", "polygon": "square_2"}' class="z-1 position-absolute top-50 start-50 translate-middle gradient-purple-pink" style="width: 95%; height: 150%; z-index: 1;"></div>
          </div>
          <div class="position-relative z-3 text-center"">
            <h3>Design</h3>
            <p class="fs-5 pt-3">I can create intuitive and appealing websites or application interfaces. I also create design products like posters and infographics for print or the web.</p>
          </div>
        </div>

        <div class="col-lg my-5 my-lg-0">
          <div class="position-relative d-flex justify-content-center align-items-center" style="width: 100%; aspect-ratio: 3/2;">
              <div class="z-2" style="width: 100px; height: 100px;">
                <%- include('../../../assets/svg/coding-html-svgrepo-com.svg') %>
              </div>
            <div data-dancing-blob='{"animated":  true, "speed": "slow", "polygon": "square_2"}' class="z-1 position-absolute top-50 start-50 translate-middle gradient-purple-pink" style="width: 95%; height: 150%; z-index: 1;"></div>
          </div>
          <div class="position-relative z-3 text-center"">
            <h3>Applications</h3>
            <p class="fs-5 pt-3">I can create applications for the web, mobile or desktop, using a variety of frameworks depending on need.</p>
          </div>
        </div>

        <div class="col-lg my-5 my-lg-0">
          <div class="position-relative d-flex justify-content-center align-items-center" style="width: 100%; aspect-ratio: 3/2;">
            <div class="z-2" style="width: 100px; height: 100px;">
              <%- include('../../../assets/svg/startup-rocket-svgrepo-com.svg') %>
            </div>
            <div data-dancing-blob='{"animated":  true, "speed": "slow", "polygon": "square_2"}' class="z-1 position-absolute top-50 start-50 translate-middle gradient-purple-pink" style="width: 95%; height: 150%; z-index: 1;"></div>
          </div>
          <div class="position-relative z-3 text-center">
            <h3>Solutions</h3>
            <p class="fs-5 pt-3">I help you figure out what you need, navigate current trends and put together complete software packages using off-the-shelf or bespoke components.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
